{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>I Fear the Beast</h2>
  <img src="../img/kraken02.jpg" alt="giant octopus attacks pirate ship" class="img-fluid">
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Piracy black jack maroon fire in the hole capstan squiffy gaff Sail ho ye rope's end starboard snow holystone lugger strike colors topmast boom furl spike Spanish Main fire ship haul wind hornswaggle scurvy pirate nipper run a shot across the bow belay bowsprit knave galleonBlimey man-of-war scourge of the seven seas schooner hearties walk the plank clap of thunder wench come about loot jolly boat Privateer measured fer yer chains keel Chain Shot bring a spring upon her cable take a caulk brigantine bilge bounty pillage stern heave to spanker gangway chase log .</p>
{% endblock %}