{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>It was a dark and stormy night</h2>
    <img src="../img/kraken03.jpg" alt="giant octopus attacks pirate ship" class="img-fluid">
  <h5>Captain's log, Oct. 18, 2018</h5>
  <p>Boom transom line black jack Pirate Round chantey scourge of the seven seas avast Davy Jones' Locker piracy furl knave scurvy Sea Legs nipper driver jib spyglass code of conduct bowsprit lugsail gangplank port poop deck boatswain Sail ho execution dock hempen halter tackle pressgang mizzenmast rope's end fire in the hole Jack Tar yard quarter ahoy holystone Corsair squiffy lugger haul wind brig Arr Blimey bilge take a caulk keel interloper rum Gold Road chase guns pirate bring a spring upon her cable dead men tell no tales gun jack spike splice the main brace fire ship trysail belay grog blossom deadlights lass mutiny clipper hulk Spanish Main Jolly Roger. </p>
{% endblock %}