{% extends '_layouts/detail.njk' %}

{% block story %}
  <h2>Call me Ishmael</h2>
  <img src="../img/kraken01.jpg" alt="giant octopus attacks pirate ship" class="img-fluid">
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Yellow Jack me deadlights piracy jib chase guns bowsprit booty draft loaded to the gunwalls clipper Letter of Marque mizzenmast cackle fruit lugsail lanyard scuppers hempen halter strike colors galleon sheet knave snow port take a caulk pink league wench jury mast belaying pin cog Arr gun brig marooned no prey, no pay Chain Shot pirate Blimey rutters maroon gibbet heave to dance the hempen jig sloop .</p>
{% endblock %}