{% extends '_layouts/base.njk' %}

{% block page_title %}The Ships Log{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
    <h1>Ahoy There!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Being a pirate sucks, man. I want to be a poet but I can't because my dad was a pirate and so 

      </p>
  {% for entry in data.entries %}
    <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
    <p class="entry-date">{{ entry.date }}</p>
    <hr>
  {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
